In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Importar data excel

In [24]:
df = pd.read_excel('../files/data/UbigeosPeru.xlsx', dtype={'Ubigeo':int})

df

,Ubigeo,Distrito,Provincia,Departamento,Poblacion,Superficie,Estrato,Y,X
0,10101,Chachapoyas,Chachapoyas,Amazonas,29171,153.78,Urbano,-6.2294,-77.8714
1,10102,Asuncion,Chachapoyas,Amazonas,288,25.71,Rural,-6.0317,-77.7122
2,10103,Balsas,Chachapoyas,Amazonas,1644,357.09,Rural,-6.8375,-78.0214
3,10104,Cheto,Chachapoyas,Amazonas,591,56.97,Rural,-6.2558,-77.7003
4,10105,Chiliquin,Chachapoyas,Amazonas,687,143.43,Rural,-6.0778,-77.7392
...,...,...,...,...,...,...,...,...,...
1869,250302,Irazola,Padre Abad,Ucayali,10830,998.93,Urbano,-8.8289,-75.2139
1870,250303,Curimana,Padre Abad,Ucayali,8956,2134.04,Rural,-8.4353,-75.1597
1871,250304,Neshuya,Padre Abad,Ucayali,8445,579.51,Rural,-8.6392,-74.9644
1872,250305,Alexander von Humboldt,Padre Abad,Ucayali,6678,190.80,Rural,-8.8264,-75.0522
1873,250401,Purus,Purus,Ucayali,4657,17847.76,Rural,-9.7703,-70.7122

In [18]:
len(df)

1874

In [20]:
df.dtypes

Ubigeo            int64
Distrito         object
Provincia        object
Departamento     object
Poblacion         int64
Superficie      float64
Estrato          object
Y               float64
X               float64
dtype: object

In [27]:
df.columns.tolist()

Index(['Ubigeo', 'Distrito', 'Provincia', 'Departamento', 'Poblacion',
       'Superficie', 'Estrato', 'Y', 'X'],
      dtype='object')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1874 entries, 0 to 1873
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ubigeo        1874 non-null   int64
 1   Distrito      1874 non-null   object
 2   Provincia     1874 non-null   object
 3   Departamento  1874 non-null   object
 4   Poblacion     1874 non-null   int64
 5   Superficie    1874 non-null   float64
 6   Estrato       1874 non-null   object
 7   Y             1874 non-null   float64
 8   X             1874 non-null   float64
dtypes: float64(3), int64(2), object(4)
memory usage: 131.9+ KB

In [32]:
df.describe()

              Ubigeo     Poblacion    Superficie            Y            X
count    1874.000000  1.874000e+03   1874.000000  1874.000000  1874.000000
mean   106811.441836  1.716231e+04    689.613751   -10.894582   -75.464763
std     67126.358611  5.483361e+04   1922.273572     3.583307     2.842531
min     10101.000000  1.740000e+02      1.990000   -18.229200   -81.306900
25%     50328.250000  1.907250e+03     92.910000   -13.740775   -77.610000
50%    100322.500000  4.538500e+03    208.010000   -11.731800   -75.928750
75%    150805.750000  1.136975e+04    500.092500    -7.692625   -73.429800
max    250401.000000  1.156300e+06  24049.950000    -0.378300   -68.853900

In [30]:
df.describe(include='all')

,Ubigeo,Distrito,Provincia,Departamento,Poblacion,Superficie,Estrato,Y,X
count,1874.000000,1874,1874,1874,1.874000e+03,1874.000000,1874,1874.000000,1874.000000
unique,NaN,1720,195,25,NaN,NaN,2,NaN,NaN
top,NaN,Santa Rosa,Lima,Lima,NaN,NaN,Rural,NaN,NaN
freq,NaN,10,43,171,NaN,NaN,1351,NaN,NaN
mean,106811.441836,NaN,NaN,NaN,1.716231e+04,689.613751,NaN,-10.894582,-75.464763
std,67126.358611,NaN,NaN,NaN,5.483361e+04,1922.273572,NaN,3.583307,2.842531
min,10101.000000,NaN,NaN,NaN,1.740000e+02,1.990000,NaN,-18.229200,-81.306900
25%,50328.250000,NaN,NaN,NaN,1.907250e+03,92.910000,NaN,-13.740775,-77.610000
50%,100322.500000,NaN,NaN,NaN,4.538500e+03,208.010000,NaN,-11.731800,-75.928750
75%,150805.750000,NaN,NaN,NaN,1.136975e+04,500.092500,NaN,-7.692625,-73.429800
max,250401.000000,NaN,NaN,NaN,1.156300e+06,24049.950000,NaN,-0.378300,-68.853900

In [56]:
df_sorted = df.sort_values("Superficie").head(3)
df_sorted

,Ubigeo,Distrito,Provincia,Departamento,Poblacion,Superficie,Estrato,Y,X
1161,130103,Florencia de Mora,Trujillo,La Libertad,42978,1.99,Urbano,-8.0808,-79.0236