# Importación de las librerías requeridas

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf # Yahoo Finance

### Descarga de datos

In [10]:
data = yf.download('COP=X', start='2022-01-01')
data

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,4063.580078,4103.750000,4027.485840,4063.580078,4063.580078,0
2022-01-04,4063.080078,4086.080078,4024.076660,4063.080078,4063.080078,0
2022-01-05,4078.550049,4078.830078,4026.580078,4078.550049,4078.550049,0
2022-01-06,4026.919922,4053.250000,4023.840088,4026.919922,4026.919922,0
2022-01-07,4030.919922,4048.090088,4025.870117,4030.919922,4030.919922,0
...,...,...,...,...,...,...
2024-04-30,3907.260010,3907.260010,3855.989990,3907.260010,3907.260010,0
2024-05-01,3907.750000,3914.209961,3898.030029,3907.750000,3907.750000,0
2024-05-02,3912.250000,3912.250000,3886.000000,3912.250000,3912.250000,0
2024-05-03,3895.750000,3908.350098,3862.500000,3895.750000,3895.750000,0
2024-05-06,3890.459961,3890.459961,3890.459961,3890.459961,3890.459961,0

In [25]:
data.tail(10)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-04-23,3909.850098,3921.729980,3898.610107,3909.850098,3909.850098,0
2024-04-24,3903.199951,3938.659912,3903.199951,3903.199951,3903.199951,0
2024-04-25,3937.500000,3967.629883,3935.520020,3937.500000,3937.500000,0
2024-04-26,3956.010010,3956.020020,3930.189941,3956.010010,3956.010010,0
2024-04-29,3963.489990,3963.489990,3879.850098,3963.489990,3963.489990,0
2024-04-30,3907.260010,3907.260010,3855.989990,3907.260010,3907.260010,0
2024-05-01,3907.750000,3914.209961,3898.030029,3907.750000,3907.750000,0
2024-05-02,3912.250000,3912.250000,3886.000000,3912.250000,3912.250000,0
2024-05-03,3895.750000,3908.350098,3862.500000,3895.750000,3895.750000,0
2024-05-06,3890.459961,3890.459961,3890.459961,3890.459961,3890.459961,0

In [17]:
data.Close

Date
2022-01-03    4063.580078
2022-01-04    4063.080078
2022-01-05    4078.550049
2022-01-06    4026.919922
2022-01-07    4030.919922
                 ...
2024-04-30    3907.260010
2024-05-01    3907.750000
2024-05-02    3912.250000
2024-05-03    3895.750000
2024-05-06    3890.459961
Name: Close, Length: 611, dtype: float64